[package]
name = "discord-ext-songbird"
description = "Library to replace the voice backend of discord.py with Songbird."
readme = "README.md"
version = "0.1.1"
edition = "2021"
license = "MIT"
repository = "https://github.com/sizumita/discord-ext-songbird"
authors = [
    "Sumito Izumita <mail@smdr.io>"
]
publish = false

[lib]
name = "discord_ext_songbird_backend"
crate-type = ["cdylib"]

[dependencies]
discortp = { version = "0.6.0", features = ["demux"] }
pyo3 = { version = "0.23.2", features = ["experimental-async", "extension-module"] }
tracing = { version = "0.1.41", features = ["log"] }
songbird = { version = "0.4.5", features = ["receive", "driver", "rustls", "gateway", "builtin-queue"], default-features = false }
tokio = {version = "1.41.1", features = ["macros", "sync"]}
pyo3-async-runtimes = { version = "0.23.0", features = ["tokio", "tokio-runtime"] }
async-trait = "0.1.83"
thiserror = "2.0.4"
tracing-subscriber = "0.3.19"
symphonia = { features = ["wav", "pcm", "mp3"], version = "0.5.2" }
