name: CI
on:
  push:
  pull_request:
    branches:
      - master
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  lint_python:
    name: Lint Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
          version: "latest"
          python-version: ${{ matrix.python-version }}

      - name: Syncing uv project
        run: uv sync --all-extras --dev --no-install-project

      - name: Run ruff
        run: uvx ruff check --output-format=github .

      - name: Run ruff formatter
        run: uvx ruff format --diff
  lint_rust:
    name: Lint rust
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libopus-dev

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt

      - run: rustup component add clippy

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Add problem matchers
        run: echo "::add-matcher::.github/rust.json"

      - name: Run rustfmt
        run: cargo fmt --all -- --check

      - name: Run clippy
        run: cargo clippy --all-features --all-targets
